[submodule "vendor/rosettax87_jit"]
	path = vendor/rosettax87_jit
	url = https://github.com/Lifeisawful/rosettax87_jit
[submodule "vendor/wowsilicon"]
	path = vendor/wowsilicon
	url = https://github.com/WoWSilicon/WoWSilicon/
